@page
@{
    ViewData["Title"] = "Contact";
    ViewData["BannerTitle"] = ViewData["Title"];
    ViewData["BannerSubtitle"] = "You can find us! OMG!";
}

<div class="text-center">
    <p>
        We are located in Louisville, Kentucky. Where, exactly? We can't really say because it's all online.
        <br />
        For any direct inquiries, click the link below, otherwise find out through word of mouth like all the cool kids do these days.
    </p>
    <address>
        <strong>Direct Contact:</strong> <a href="mailto:Admin@PhantomHex.com">Click here</a>
    </address>
</div>
@section Footer{
    <div id="googleMap" style="width:100%;height:500px;" class="rounded border-dark"></div>
}
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNIpqFC2INcZx2iOS6ggQf28wua46tjh4&callback=myMap"></script>
}