@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
	<h2>@ViewData["Title"]</h2>
	<h4 class="lead">So, here's the deal.</h4>
</div>
<hr/>
<p>We don't even take that much data but the data that we do take is important to you, so I guess we need to let you know it's your data and you can do whatever you want with it.</p>

<h4 class="text-center text-black-50">Data Retention</h4>
<p>Here's what we don't take as data:</p>
<ul>
	<li><b>Financial information:</b> We don't need it. Seriously, this is a game site that doesn't do microtransactions or any bank-related transactions, to be honest.</li>
	<li><b>Medical Health information:</b> We don't have any HIPAA protection so we can't really take any medical histories or data in relation to how well you move or jump. All information entered here is volunteered by you and only you; and as such, anything you gain from all this is determined by what you enter. It's all math, not based on your genetics kit integration (we're working on that, in which you'll be informed when we implement it and modify this space accordingly), any medical health records with your doctor, and absolutely NO BLOOD. We may preach "blood and sweat" sometimes; but that doesn't mean we require taking some to get accurate results.</li>
	<li><b>Constant location information:</b> Other than a home address for demographics, we don't track your location nor use your GPS. Hell, if we did, that would be hella scary information to have, don't you think?</li>
</ul>
<br />

<h4 class="text-center text-black-50">Data usage</h4>
<p>Well, not that much actually. This is just a little application made out of boredom so none of it leaves the app for any damn reason, even when it comes to advertising. Shit, you think we're going to just give this stuff away? Nah, you're going to be alright, friend.</p>
<br />

<h4 class="text-center text-black-50">Data Download</h4>
<p>Of course, you don't have to trust us with your data, so you can delete it! Anytime! Really, <i>ANYTIME</i>. <br /> Hell, you can get out of this spot and friggin' leave if you want, it's a setting! You can download your data and run. We'll have a copy for you ready to go when you want to leave and then shred it after 30 damn days.</p>
<br />
