@page
@model OCFX.Pages.FAQ.StatsModel
@{
    ViewData["Title"] = "Stats";
    ViewData["BannerTitle"] = "FAQ - Stats";
    ViewData["BannerSubtitle"] = "Numbers for nerds.";
}

@if (Model.Stats.Count > 0)
{

} else
{
	<h1 class="text-center">I guess nothing's here then.</h1>
}

