@page
@model OCFX.Pages.FAQ.StatsModel
@{
    ViewData["Title"] = "Stats";
    ViewData["BannerTitle"] = "FAQ - Stats";
    ViewData["BannerSubtitle"] = "Numbers for nerds.";
}

@if (Model.ProfileStats.Count > 0)
{
    <section id="main_stats_section" class="row">
        <div class="col-lg-6">
            <h4>Total Members</h4>
            <h2 class="display-4">@Model.ProfileStats.Count</h2>
        </div>
        <div class="col-lg-6">
            <h4>Average Age</h4>
            <h2 class="display-4">@Model.AgeAverage</h2>
        </div>
    </section>
}
else
{
	<h1 class="text-center">I guess nothing's here then.</h1>
}

