@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Staatliches');

/* Standard headers */
h1, h2, h3, h4, h5, h6, .title-font {
    font-family: 'Staatliches', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: black;
}

input, textarea {
    font-size: 0.8em;
}

nav {
    font-family: 'Staatliches', cursive;
    font-size: 1.2em;
}

%dash_section {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border: 2px groove;
}

.dash_section {
    @extend %dash_section;
}

.dash_section_left {
    @extend %dash_section;
    border-top-left-radius: 1%;
    border-bottom-left-radius: 1%;
}

.dash_section_right {
    @extend %dash_section;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
}


#content {
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
}

.friend_grid {
    display: grid;
    justify-content: flex-start;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption {

    p {
        font-size: 20px;
        line-height: 1.4;
    }
}

/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}*/

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Avatars */

$avatarWidth: 100px;
$avatarHeight: 100px;

.profile_avatar {
    height: $avatarHeight * 2.5;
    width: $avatarWidth * 2.5;
    border-radius: 50%;
    border: 2px solid gray;
    image-rendering: optimizespeed;
}

.friend_avatar {
    height: $avatarHeight;
    width: $avatarHeight;
    border-radius: 15%;
}

.club_avatar {
    height: $avatarHeight * .75;
    width: $avatarWidth * .75;
    border-radius: 15%;
    border: 2px ridge black;
}

/* Front page only*/
.front-photo {
    border: 3px solid darkgray;
    border-radius: 2%;
    width: 100%;
}


/* About Page only */
.about-photo {
    /*max-width: 575px;*/
    border: 3px solid darkgray;
    border-radius: 2%;
    /*width: 100%;*/
}

/* Roundbox Aesthetic Types */

%box {
    /*background-color: azure;*/
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: .3rem;
}

.shadowbox-xy {
    @extend %box;
    margin: 1rem auto 1rem auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.insetbox-xy {
    @extend %box;
    margin: 1rem auto 1rem auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) inset;
}

.roundbox-xy {
    @extend %box;
    margin: auto;
}
