@{
	ViewData["Message"] = "Alpha";
	ViewData["Version Type"] = "an Alpha version";
    ViewData["Version Number"] = "[ver. 0.1.0]";
}
<div class="py-5 my-4 container text-center text-justify jumbotron">
	<h1>@ViewData["Message"] <small>@ViewData["Version Number"]</small></h1>
	<p class="lead">This is @ViewData["Version Type"]. [&alpha;]</p>
	<p class="small">
		This application was literally coded in a matter of a weeks by some guy with literally too much time on his hands and not enough to do. The goal is to provide a serviceable experience while also getting some feedback from users, moving this into the beta stage soon after this finished. There will be bugs, inaccuracies, and some things that will not display or function properly. You might also experience some connection issues and the memory on your system may ramp up at certain parts.
	</p>
	<p>Just relax, you know what you signed up for.	</p>
</div>