@model OCFX.DataModels.Session

<section>
    <h2>Select your meeting frequency</h2>
    <div class="shadowbox-xy">
        <div>
            <div class="form-group form-group-lg">
                <label asp-for="Name" class=""></label>
                <input asp-for="Name" class="form-control form-control-lg" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
            <div class="form-group form-group-lg">
                <label asp-for="Description" class=""></label>
                <input asp-for="Description" class="form-control form-control-lg" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group form-group-lg">
                <label asp-for="StartTime" class=""></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger" />
            </div>
            <div class="form-group form-group-lg">
                <label asp-for="EndTime" class=""></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger" />
            </div>
            <div class="form-group form-group-lg">
                <label asp-for="Interval" class=""></label>
                <select asp-for="Interval" asp-items="@Html.GetEnumSelectList<OCFX.DataModels.Session.EventType>()" class="form-control"></select>
                <span asp-validation-for="StartTime" class="text-danger" />
            </div>
        </div>
        <div class="btn-group btn-group-justified">
            <button type="submit" class="btn btn-primary"></button>
        </div>
    </div>
    }
</section>