@page
@model OCFX.Pages.Dashboard.AddWorkoutModel
@{
    ViewData["Title"] = "Add Workout";
    ViewData["BannerTitle"] = ViewData["Title"];
    ViewData["BannerSubTitle"] = "Prove you did something";
}

<section class="col-md-8 shadowbox-xy">
    <form class="form" method="post" asp-route-Id="">
        <div class="form-group">
            <label asp-for="Input.WorkoutId"></label>
            <select asp-items="Model.WL" class="form-control custom-select custom-select-lg">
                <option value="0"></option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Input.Time"></label>
            <input asp-for="Input.Time" class="form-control" />
            <span asp-validation-for="Input.Time" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Notes"></label>
            <textarea asp-for="Input.Notes" placeholder="Anything to add?" class="form-control"></textarea>
            <span asp-validation-for="Input.Notes" class="text-danger"></span>
        </div>
        <div>
            <button class="btn btn-block btn-primary" type="submit">Update</button>
        </div>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}