@page
@model OCFX.Pages.Profiles.EditAvatarModel

@{
	ViewData["Title"] = "Edit Avatar";
}

<div class="text-center">
	<h2>Edit</h2>
	<h4>Profile Picture</h4>
	<p>Don't like your look? Fix it!</p>
	<hr />
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Photo.ProfileId" />
	<figure class="col-sm-4 mx-auto">
		<img src="~/images/uploads/@Model.Photo.URL" alt="Alternate Text" class="figure-img img-fluid rounded" />
		<figcaption class="figure-caption text-center">Current look</figcaption>
	</figure>
	<div class="col-sm-8 mx-auto">
		<div class="form-group">
			<label asp-for="Image" class="control-label">Show us your shiny teeth!</label>
			<input asp-for="Image" type="file" class="form-control form-control-file" style="height:auto" required/>
			<span asp-validation-for="Image.FileName" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Photo.Caption" class="control-label">Caption</label>
			<textarea asp-for="Photo.Caption" class="form-control"></textarea>
		</div>
		<div class="btn-block btn-group-vertical">
			<input type="submit" value="Save" class="btn btn-primary" />
			<a class="btn btn-dark" asp-page="./Index" asp-route-id="@Model.Photo.ProfileId">Cancel</a>
		</div>
	</div>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
