@page
@model IndexModel

@{
	ViewData["Title"] = "MADmin Access";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
	<div class="col-sm-8 mx-auto">
		<h1 class="text-center">
			Access Panel
			<br />
			[For the MADMINS]
		</h1>

		<div class="btn-block btn-group-vertical btn-group-lg text-center">
			<a asp-page="FAQs/Index" class="btn btn-outline-info">FAQs</a>
			<a asp-page="Campaigns/Index" class="btn btn-outline-info">Campaigns</a>
			<a asp-page="Classes/Index" class="btn btn-outline-info">Archetypes</a>
			<a asp-page="Diets/Index" class="btn btn-outline-info">Diets and Nutrition</a>
			<a asp-page="Exercises/Index" class="btn btn-outline-info">Exercises</a>
			<a asp-page="Workouts/Index" class="btn btn-outline-info">Workout Programs</a>
			<a asp-page="Gyms/Index" class="btn btn-outline-info">Gym/Club Edit</a>
			<a asp-page="Programs/Index" class="btn btn-outline-info">Workout Program Edits</a>
		</div>
	</div>
}
else
{
	<div class="text-center">
		<h1 class="display-1">YOU'RE NOT ALEXANDER.</h1>
		<p>You're about to be in the wrong zone, buddy. Go back.</p>
	</div>
}