@page
@model RegisterModel

@{
    ViewData["Title"] = "Questionaire";
    ViewData["BannerTitle"] = "Questionaire";
    ViewData["BannerSubtitle"] = "This will help us get a feel for what you're thinking of doing.";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="col-lg-10 mx-auto">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="py-4">
        <div id="standard_section">
            <div class="text-center mb-4">
                <h4>User Information</h4>
                <code>Don't worry. It's just simple stuff.</code>
                <br />
            </div>
            <div id="LoginInfo">
                <div class="form-group">
                    <label asp-for="Input.Email" class="col-form-label-sm"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                        <small class="form-text text-muted">
                            Passwords should be at least 8 characters (letters &amp; numbers), contain 1 special character, and not contains spaces or emoji. Sorry. No one needs an emoji in a password.
                        </small>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="text-center mb-4">
                <h4>Basic Information</h4>
                <code>Still simple stuff, more personal</code>
                <br /><wbr />
            </div>
            <div class="form-row" id="BasicInfo">
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.DOB"></label>
                        <input asp-for="Input.DOB" class="form-control" />
                        <span asp-validation-for="Input.DOB" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Profiler.Height"></label>
                            <input asp-for="Profiler.Height" class="form-control" size="2" />
                            <span asp-validation-for="Profiler.Height" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Profiler.Weight"></label>
                            <input asp-for="Profiler.Weight" class="form-control" size="2" />
                            <span asp-validation-for="Profiler.Weight" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label asp-for="Input.ClassId">Select your class</label>
                        <select asp-for="Input.ClassId" asp-items="Html.GetEnumSelectList<OCFX.DataModels.ClassType>()" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profiler.Gender">Select your gender</label>
                        <select asp-for="Profiler.Gender" asp-items="Html.GetEnumSelectList<OCFX.DataModels.ProfileSheet.GenderSpectrum>()" class="form-control"></select>
                        <span class="small">Disclaimer: We attempt to accommodate for any and all who exist; and only ask out of respect to our recommendations and training/nutrition methodology.</span>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-block btn-outline-dark" id="submitButton">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}