@page
@model OCFX.Pages.MadminAccess.Classes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FitClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FitClass.Id" />
            <div class="form-group">
                <label asp-for="FitClass.FitType" class="control-label"></label>
                <select asp-for="FitClass.FitType" asp-items="Html.GetEnumSelectList<OCFX.DataModels.ClassType>()" class="form-control"></select>
                <span asp-validation-for="FitClass.FitType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitClass.StrengthMod" class="control-label"></label>
                <input asp-for="FitClass.StrengthMod" class="form-control" />
                <span asp-validation-for="FitClass.StrengthMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitClass.SpeedMod" class="control-label"></label>
                <input asp-for="FitClass.SpeedMod" class="form-control" />
                <span asp-validation-for="FitClass.SpeedMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitClass.ConstitutionMod" class="control-label"></label>
                <input asp-for="FitClass.ConstitutionMod" class="form-control" />
                <span asp-validation-for="FitClass.ConstitutionMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitClass.DexterityMod" class="control-label"></label>
                <input asp-for="FitClass.DexterityMod" class="form-control" />
                <span asp-validation-for="FitClass.DexterityMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitClass.ConcentrationMod" class="control-label"></label>
                <input asp-for="FitClass.ConcentrationMod" class="form-control" />
                <span asp-validation-for="FitClass.ConcentrationMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitClass.MotivationMod" class="control-label"></label>
                <input asp-for="FitClass.MotivationMod" class="form-control" />
                <span asp-validation-for="FitClass.MotivationMod" class="text-danger"></span>
            </div>
            <div class="form-group btn-group btn-group-toggle">
                <input type="submit" value="Save" class="btn btn-outline-dark" />
				<a asp-page="./Index" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
