@page "{id}"
@model OCFX.Pages.Programs.ExerciseModel
@{
    ViewData["Title"] = Model.Exercise;
    ViewData["BannerTitle"] = ViewData["Title"];
    ViewData["BannerSubTitle"] = "";
}

<h1>
    @Model.Exercise.ExerciseTitle
</h1>
<section>
    <div class="row">
        @if (Model.Exercise.Url != null)
        {
            <div class="col-md">
                <iframe width="560" height="315" src="@Model.Exercise.Url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr />
            </div>
        }
        <div class="col-md">
            @Model.Exercise.Description
        </div>
    </div>
    <div>
        <a href="#" onclick="history.go(-1);return false;" class="btn btn-block">Back</a>
    </div>
</section>