@page
@model OCFX.Pages.Clubs.ClubStartupModel
@{
    ViewData["Title"] = "Club Startup";
    ViewData["BannerTitle"] = "Create a Club";
    ViewData["BannerSubtitle"] = "Let's create a club!";
}
<form method="post">
    <div class="form-group form-group-lg">
        <label asp-for="Gym.Title"></label>
        <input asp-for="Gym.Title" class="form-control form-control-lg" />
        <span asp-validation-for="Gym.Title" class="text-danger" />
    </div>
    <div class="form-group form-group-lg">
        <label asp-for="Gym.Description"></label>
        <textarea asp-for="Gym.Description" class="form-control form-control-lg"></textarea>
        <span asp-validation-for="Gym.Description" class="text-danger" />
    </div>
    @if (Model.GymEquipment.Count > 0 && Model.GymEquipment != null)
    {
        <div>
            Amenities:
            <ul>
                @for (int i = 0; i < Model.GymEquipment.Count; i++)
                {
                    <li>
                        <input asp-for="GymEquipment[i].Id"
                               type="checkbox" />
                        <label asp-for="GymEquipment[i].Id">@Model.GymEquipment[i].EquipName</label>
                    </li>
                }
            </ul>
        </div>
    }
    <button type="submit" class="btn btn-block btn-outline-dark">Create a new club!</button>
</form>