@page
@model OCFX.Pages.Clubs.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["BannerTitle"] = "Clubs";
    ViewData["BannerSubtitle"] = "Welcome to the club.";
}


@if (Model.Gyms != null)
{
    <ul class="list-group">
        @foreach (var gym in Model.Gyms.Where(t => t.Status == DataModels.ApprovalStatus.Approved))
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-middle">
                    <h3>@gym.Title</h3>
                    @if (gym.Amenities != null)
                    {
                        <ul>
                            @foreach (var item in gym.Amenities)
                            {
                                <li>@item.EquipName</li>
                            }
                        </ul>
                    }
                    <h6>
                        <a asp-page="./Community" asp-route-id="@gym.Id" class="btn btn-outline-dark">Info</a>
                    </h6>
                </div>
            </li>
        }
    </ul>
    <div class="py-3">
        <a asp-page="./ClubStartup"
           class="btn btn-block btn-outline-dark">Create a club</a>
    </div>
}