@page
@model OCFX.Pages.MadminAccess.Diets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FitDiet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FitDiet.DietName" class="control-label"></label>
                <input asp-for="FitDiet.DietName" class="form-control" />
                <span asp-validation-for="FitDiet.DietName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitDiet.DietTypeName" class="control-label"></label>
                <select asp-for="FitDiet.DietTypeName" asp-items="Html.GetEnumSelectList<OCFX.DataModels.Diet.DietType>()" class="form-control"></select>
                <span asp-validation-for="FitDiet.DietTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitDiet.Carbohydrates" class="control-label"></label>
                <input asp-for="FitDiet.Carbohydrates" class="form-control" />
                <span asp-validation-for="FitDiet.Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitDiet.Protein" class="control-label"></label>
                <input asp-for="FitDiet.Protein" class="form-control" />
                <span asp-validation-for="FitDiet.Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FitDiet.Fats" class="control-label"></label>
                <input asp-for="FitDiet.Fats" class="form-control" />
                <span asp-validation-for="FitDiet.Fats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
