@page
@model OCFX.Pages.MadminAccess.FAQs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Facts</h4>
<hr />
<div class="row">
    <div class="col-md">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Facts.Question" class="control-label"></label>
				<input asp-for="Facts.Question" class="form-control" />
				<span asp-validation-for="Facts.Question" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Facts.Answer" class="control-label"></label>
				<textarea asp-for="Facts.Answer" class="form-control" rows="5"></textarea>
				<span asp-validation-for="Facts.Answer" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Facts.Section" class="control-label"></label>
				<select asp-for="Facts.Section" class="form-control" asp-items="@Html.GetEnumSelectList<OCFX.Data.DataModels.SiteModels.SectionName>()"></select>
				<span asp-validation-for="Facts.Section" class="text-danger"></span>
			</div>
			<div class="form-group btn-group">
				<input type="submit" value="Create" class="btn btn-default" />
				<a asp-page="Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
